PORT=8080
LCD_URL=https://terra-classic-lcd.publicnode.com
FCD_URL=https://terra-classic-fcd.publicnode.com
FACTORY=terra1veqa6znu8lfdmz9kp9v047chfmn84q5k3pacme75gl8ywmplk92q6xnq2k
ROUTER=terra1nynrxdccq0r9ghrz0sq7tjkkh8wug0ggg4lkzsags8r9dyhf7ypqx5gsr8
DEX_KEY=weso-defi
PAIR_CACHE_TTL_MS=300000
ASSET_CACHE_TTL_MS=600000
MAX_EVENTS_BLOCK_SPAN=2000
HTTP_TIMEOUT_MS=45000
